@tailwind base;
@tailwind components;
@tailwind utilities;

.blue-button {
  font-style: italic;
  @apply text-medium-blue;
}

.create-container {
  padding-block: 100px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

.input-div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.nav-bar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 272px;
  height: 95vh;
  min-height: 500px;
  margin-right: 150px;
  padding: 40px 24px 40px 24px;

  background-color: white;
}

.nav-bar-title {
  font-weight: bolder;
  font-size: x-large;
}

.nav-links {
  display: flex;
  flex-direction: column;
  gap: 20px;

  font-size: medium;
  @apply text-dark-grey
}

.nav-button {
  border-radius: 12px;
  width: 100%;
  padding: 15px;
  text-align: left;

  transition: 1s ease-in-out;

  &:hover {
    @apply bg-light-blue text-black;
  }
}

.nav-account {
  display: flex;
  flex-direction: column;
  gap: 20px;


  font-size: small;
  @apply text-dark-grey
}

.custom-gap-55 {
  gap: 55px;
}

.tag-account-container {
  background-color: white;
  border-radius: 12px;
  padding: 8px 11px 8px 11px;
}

.welcome-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  min-width: 700px;
  padding: 54px 200px 54px 200px;
  gap: 54px;
}

.banking-info {
  display: flex;
  flex-direction: row;
  gap: 5px;
  width: 50vw;
  min-width: 700px;
}