{% load static %}
<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static 'app.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'bundle.css' %}">
  <script src="https://unpkg.com/htmx.org"></script>
  <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
  <script src="{% static 'app.js' %}"></script>
</head>

<body class="p-4 bg-light-grey">
  <div class="flex flex-column container mx-auto md:w-full">
    {% include "nav-bar.html" %}
    {% block content %}{% endblock %}
  </div>
</body>

</html>